
:root {
  --purple: #523080;
  --yellow: #F5B700;
  --yellow-dark: #f5a700;
  --green: #2FBF71;
  --orange: #F15946;
  --blue: #016bc2;
  --dark-blue: #013a42;
  --dark-grey: #2c2b2b;
  --grey: #3D3D3D;
  --grey05: #00000009;
  --grey10: #3d3d3d0a;
  --grey20: #3d3d3d25;
  --grey60: #3d3d3d3f;
  --white70: #ffffffb4;
  --white40: #ffffff44;
  --white: #ffffff;
  font-size: 14px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
color: #ffffff;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--blue);
}

.funder{
  background-color: var(--blue);
  padding: 1rem 10rem;
  color: #ffffff;
  font-size: 1.1rem;
}
.case-text{
  padding: 2rem 25rem;
}
.case-text li{
  line-height: 2 !important;
  font-size: 1.1rem !important;
  font-weight: 400 !important;
}
.case-text p {
  line-height: 2 !important;
  font-size: 1.1rem !important;
  font-weight: 400 !important;
}
@media screen and (min-width: 320px) and (max-width: 768px){

  .case-text{
    padding: 2rem 1rem;
  }
}
header img{
  padding: 10px 20px 10px 0;
  height: 30px;
}
header img#gl-logo{
margin-top:10px;
height: 25px;
}
header img#fb-logo{
  margin-top:5px;
  height: 25px;
  }

.gl-header{
  display:flex;
  flex-direction: row;
  padding:0 12rem;
  background-color: var(--dark-grey); 
  background-size: cover;
  background-position: center top;
}

body {
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
  line-height: 1.5;
  text-align: left;
  background-color: var(--white);
}

.hero{
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 12rem;
  background-blend-mode: multiply;
  background-color: var(--blue); 
  background-size: contain;
  background-position: center top;
}
.hero-banner{
  background-image: url("../case/images/hero.jpg");
}
.hero.testing{
  flex-direction: column;
  text-align:center;
  padding: 0 6rem;
}
.hero.testing .text{
  text-align: center;
  width:100%;
}
.hero.testing p{
  text-align: center;
 margin-top: 20px;
 font-size: 1.5rem;
}
.hero.testing h1{
 font-size: 4em;
 color: var(--white);
}
.hero.testing h4{
  font-size: 2em;
  text-transform: uppercase;
  color: var(--white70);
  margin:0;
 }
.text{
  display:flex;
  flex-direction: column;
  width:50%;
  justify-content: center;
  align-items: center;
}
.description{
  display:flex;
  flex-direction: column;
  width:50%;
}
.hero h1{
  display: flex;
  margin: 0 0 0 0em;
  color: var(--white);
  line-height:1;
  font-size: 2.5rem;
  font-weight: 100;
}
.hero .text img{
  height:100px;
  width:100px;
}
.hero p{
  display: flex;
  margin: 0 0 0em 4em;
  color: var(--white);
  font-size: 12pt;
  font-weight: 100;
  text-align: left;
  line-height: 1.8;
}

.main-button{
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
margin-top: -25px;
position: relative;
z-index: 1;
padding: 0 20px;
}

.btn{
  padding:1em 4em;
  margin: 0 1em;
  background-color: var(--dark-grey);
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
  border: 2px solid var(--blue);
}
.btn.project{
  padding:0.5em 4em;
  margin-right:20px;
  font-weight: 400;
  font-size:1rem;
}
a.btn:hover{
  background-color: var(--dark-grey);
  background-color: var(--blue);
  transition: all .6s ease;
  border: 2px solid var(--white);
}
.main-button.connect{
  margin-top:0;
}
.main-button.connect a.btn{
  padding:0.5em 3em;
  margin-right:10px;
  font-size: 0.9rem;
}
.btn.project.last{
  margin-right:0;
}
.cta-text{
  padding: 0 25rem;
}
.cta-text.testing{
  text-align:center;
  padding: 1rem 10rem;
  background-color: var(--grey);
}
.cta-text.testing img{
  height:100px;
  width:100px;
}
.cta-text.testing p{
  margin-top:0;
color: var(--white);
}
.cta-text p{
  font-weight: 100;
  color: var(--grey);
  font-size: 1.5rem;
  line-height: 1.6;
}
.filters{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 8vh;
  background-color: var(--grey);
  padding: 0 6rem;
}
.form-control{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 25%;
width:25%;
position: relative;
overflow: hidden;
padding: 10pt;
background: var(--grey);
overflow: hidden;
border-radius: 5px;
border: 1px solid var(--white40);
}

.form-control .material-icons:hover{
cursor: pointer;
}/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.form-control::after {
  position: absolute;
  right:0;
  font-family: "Material Icons";
  content: "\e313";
  font-size: 28px;
  padding: 0 0;
  color: #fff;
  background: var(--grey);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
 
}
/* Transition */
.form-control:hover::after {
  color: #f39c12;
}
.filters select{
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12pt;
  width: 100%;
  cursor: pointer;
  border-radius: 0;
  background-color: var(--grey10);
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.search{
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  background-color: var(--purple);
}
input[type=text] {
  border: 2px solid var(--white70);
  border-radius: 4px;
  height: 20px;
  width: 20%;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: var(--white40);
  border: none;
  color: white;
  padding: 7px 32px;
  text-decoration: none;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: var(--grey);
  transition: all .6s ease;
}
.title-divider{
  display:flex;
  justify-content: center;
}
.title-divider h1{
  font-weight: 300;
  color: var(--purple);
}
.summary{
  padding: 2rem 15rem 2rem 15rem;
  text-align: center;
  background-color: var(--grey05);
}
#update-date{
color: #ffffff;
font-weight: 400;
background-color: var(--main-color);
padding: 10px 20px;
}
.row-summary{
  display:flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
}
.column-summary{
  display:flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  padding-left: 4rem;
}
.column-summary.right{
  padding-left: 4rem;
}
.column-summary p{
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--grey);
}
.summary-item{
  font-size: 1.1rem;
  text-transform: capitalize;
  border-bottom: none;
  font-weight: 300;

  /* border-bottom: 2px solid var(--accent-color); */
  color: var(--grey);
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .summary{
    padding: 2rem 1rem 0 1rem;
  }
  .row-summary{
    flex-direction: column;
  }
  .column-summary{
    padding-left: 0rem;
    width:100%;
  }
  .column-summary.right{
    padding-left: 0rem;
  }
}
.dot {
  height: 25px;
  width: 25px;
  
  border-radius: 50%;
  display: inline-block;
  z-index: -2;
}

.dot-class {
  margin-top:-12px;
  left: 0;
  text-align: center;
}

a.column-3-timeline-5 {
  float: left;
  text-align: center;
  width: 25%;
  border-top: 2px solid var(--purple);
  text-decoration: none;
  color: #3d3d3d;
  font-size: 0.8rem;
  height: 70px;
}

a.column-3-timeline-5.active {
  cursor: pointer;
  color: #3d3d3d;
    }
    a.column-3-timeline-5.active .dot {
      background-color: var(--yellow);
      transition: all .6s ease;
    }
  
a.column-3-timeline-5 p{
  font-size: 1.2rem;
  color: #3d3d3d;
    }
.row-cust{
  margin-left: 15%;
  width: 85%;
}

.row-cust.mt-5{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin-left:0;
  width: 100%;
}

/* Clear floats after the columns */
.row-cust:after {
  content: "";
  display: table;
  clear: both;
}
.row-cust.mt-5:after {
  content: "";
  display: table;
  clear: both;
}

.mt-5{
margin-top: 1rem !important;
}

@media screen and (min-width: 320px) and (max-width: 768px){
a.column-3-timeline-5 {

  height: 40px;
}

.row-cust{
  margin-left: 20%;
   width: 80%;
 }
.row-cust.mt-5{
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 height: auto;
 margin-left: 5%;
 margin-bottom:4rem;
}

a.column-3-timeline-5 {
  width: 100%;
  border-left: 1px solid var(--purple);
  border-top: 0px solid var(--purple);
  text-align: left;
}
.dot-class{
  margin-left:-12px;
  text-align: left;
}
.column-3-timeline p{
  margin-top:-30px;
  left: 0;
  margin-left: 35px;
  margin-bottom: 2rem;
  text-align: left;
}
a.column-3-timeline-5 p{
  margin-top:-30px;
  left: 0;
  margin-left: 35px;
  margin-bottom: 2rem;
}
a.column-3-timeline-5.last {
  border-left: none;
}
.fin{
  border-left: 0px solid #000000;
}

}
.tag-row.phase{
  justify-content: center;
  text-align: center;
}
.tag-row.phase p{
font-weight: 600 !important;
font-size: 1rem;
}
.phase-row{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.phase-col{
  display: flex;
  flex-direction: column;
  width:25%;
  color: var(--grey20);
}
.phase-col.phase-sel{
  color: var(--purple);
  font-weight: 600;
  font-size: 1.2rem;
}
.divider{
  height:10vh;
  background-color: var(--grey10);
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.divider h1{
  font-weight: 100;
  font-size: 1.8rem;
  color: var(--grey);
}
.living-repo{
  display:flex;
  flex-direction: column;
  padding: 1rem 3rem;
}
.project-repo{
  display:flex;
  flex-direction: row;
}
.repo-img{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 2rem;
}
.repo-img img{
  width: 280px;
  height: 80px;
}
.repo-img img{
  width: 240px;
  height: 120px;
}
.repo-txt{
  padding: 2rem;
  width:60%;
}
.repo-txt p{
color: var(--grey);
}
.repo-txt a{
  color: var(--grey);
  text-decoration: none;
  border-bottom: 2px solid var(--yellow);
  }
  .repo-txt a:hover{
  color: var(--yellow);
  border-bottom: 2px solid var(--grey);
  transition: all .6s ease;
    }
.divider.projects{
  padding-bottom: 2rem;
}
.project-section{
  background-color: var(--purple);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 25rem;
}
.project-section.first{
  margin-top: -40px;
  padding: 3rem 25rem;
}
.project-section.first h1{
  margin-top: 4rem;
}
.project-section h1{
margin:0rem 0 0 0;
font-weight: 100;
color:var(--white);
text-transform: uppercase;
}
.project-section p{
  margin:0;
  text-align: center;
  font-weight: 100;
color:var(--white70);
  }
.project-list{
  display:flex;
  flex-direction: row;
  display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
  
}
.project-item{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-flex: 0 0 33.33%;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding:3rem 0 0 0rem;
}
.report-list{
padding-bottom:2rem;
  
}
.report-item{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-flex: 0 0 33.33%;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding:3rem 0 0 0rem;
}
a.project-card{
  text-decoration: none;
}
a.project-card:hover .project-text{
 background-color: var(--grey60);
 transition: all .6s ease;

}
.project-item.center{
width:100%;
}
.project-card{
  width:380px;
}
.project-card .project-img img{
  width: 380px;
}
img.project-img{
  object-fit: cover;
  width: 380px;
  height: 150px;
  border-radius: 0px  0px 0px 0px;
}
.project-card .project-text{
  margin-top: -10px;
  background-color: var(--grey10);
  padding: 20px;
  height: 300px;
  border-radius: 0  0 0px 0px;

  }
  .project-card .project-text.small{
    height: 200px;
  
    }  
    .report-item .project-card .project-text.small{
      display:flex;
      justify-content: center;
      align-items: center;
      height: 60px;
    
      }
  .project-card .project-text p{
    margin:0 0 5px 0;
    color:var(--grey);
    font-weight:300;
    } 
    #date{
      font-weight:600;
      color: #3d3d3dc4;
    }
    .no-project{
      padding: 4rem;
    }
p#title{
 
  font-weight:600;
  margin-bottom:0.25rem 0 0 0;
  color:var(--grey);
}
.tag-section{
  display:flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.tag-row{
  display:flex;
  flex-direction: row;
  display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
justify-content: left;
align-items: center;
margin: 0rem 0;
}
.tag-col{
  display:flex;
  flex-direction: column;
  align-items: left;
  -webkit-flex: 0 1 auto;
  -ms-flex:0 1 auto;
  flex: 0 1 auto;
  max-width: 70%;
}
.tag-row.owner p{
  font-size: 1rem;
  font-weight: 600;
}
.tag-row.owner p span{
  font-size: 1rem;
  font-weight: 400;
}
.tag{
  color: #ffffff;
  padding: 3px 2px;
  font-weight: 500;
  border-radius: 0px;
}
.tag-section{
  padding: 0.5rem 0;
}
.dc-tag{
  background-color:var(--yellow);
}
.dp-tag{
  background-color:var(--green);
}
.de-tag{
  background-color:var(--blue);
}
.tag-1{
  background-color:var(--orange);
}
.tag-2{
  background-color:var(--green);
}
.tag-3{
  background-color:var(--yellow);
}
.tag-4{
  background-color:var(--purple);
}
.email-tag{
  background-color:var(--purple);
}
.region-tag{
  background-color:var(--grey60);
  color: var(--grey);
  padding: 3px;
}
#location-icon{
  font-size: 16pt;
  color: var(--grey);
}

.stay-connected{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--purple);
  padding: 2rem 8rem;
}
.stay-connected h1{
  margin: 0 0 0 20px;
  color:var(--white);
  font-weight: 100;
}
.stay-connected p{
  margin: 10px 0 20px 20px;
  font-weight: 100;
  font-size:1rem;
  color:var(--white70);
}
footer{
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(0,0,0);
  color: rgba(255,255,255,0.5);
  font-size: 0.8rem; 
  padding: 2rem 6rem;
}
.logo-side{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 4rem;
}
.logo-side p{
  margin:0;
  text-align: left;
  line-height: 1.6;
}
.logo-side img{
  height: 30px;
  padding: 1rem 0;
}
.address{
  width:50%;
}
.address h4{
  color: var(--white);
  margin:0 0 20px 0;
}
.address p{
  margin:0;
}
#project-page .hero.testing{
padding: 0 16rem;
}
#project-page .hero.testing #date{
  color: var(--white70);
  }
header.project-header{
  background-color: var(--dark-grey);
}

  .project-header-row{
    display:flex;
    flex-direction: row;  
    height: 60vh;
  }
  .project-header-col{
    display:flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
 
  }
  .project-header-col #date{
    margin: 1rem 2rem;
    color: var(--grey);
  }
  .project-page-img{
    width: 250px;
  }
 
  .project-header-col h1{
    margin: 0 2rem;
    font-weight: 200;
  }
  .project-header-col p{
    margin: 0rem 2rem 1rem 2rem;
  }
  .project-page-section{
    display: flex;
    flex-direction: column;
    padding: 3rem 12rem;
    height: 30vh;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: left;
  }
  .project-page-section p{
    color: var(--white70);
    font-size: 14pt;
    font-weight: 200;
  }
  .project-page-section h3{
    color: var(--white70);
    margin:0;
  }
  .col-20{
    width: 50%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #bold{
    font-weight: 600;
    margin-bottom:0;
    margin-top: 5px;
  }
  .col-80{
    padding: 1rem;
    width: 50%;
    color: var(--grey);
  }
  #project-page .tag-col{
    max-width: 100%;
  }
  .tag-row p{
    padding:0.25rem 0.1rem;
    font-size: 8pt;
  }
  #project-page .tag-row p{
    margin: 0 2rem;
    padding:0rem 0rem;
    font-size: 10pt;
  }
  #project-page #location-icon{
    margin: 0 0rem 0 2rem;
    font-size: 16pt;
    color: var(--grey);
  }
  #project-page .region-tag{
    background-color:var(--grey60);
    color: var(--grey);
  }

@media screen and (min-width: 1401px){
  .mod-video .row{
    height: 600px;
  }
  

}
@media screen and (min-width: 769px) and (max-width: 1200px){
  .project-header-row{
    display:flex;
    flex-direction: column;  
    height: 100vh;
  }
  .project-header-col{
    display:flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
  }
  .col-20{
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .col-80{
    padding: 1rem;
    width: 100%;
    color: var(--grey);
  }
  .project-page-section{
    padding: 2rem 1rem;
    height: 100%;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gl-header{
    padding:0 4rem;
    justify-content: center;
    text-align: center;
  }
  .hero{
    padding: 0rem 2rem;
    height: 60vh;
  }
  .hero p{
    margin: 0 0 0em 0em;
  }

  .cta-text{
    padding: 0 2rem;
  }
  .main-button{
    flex-direction: column;
    margin-top: 0;
  }
  .main-button.top{
    margin-top:-25px;
  }
  a.btn.project{
    margin-top: 10px;
    margin-right:0;
  }
  .project-section.first{
    margin-top:1rem;
    padding: 3rem 1rem;
  }
  .project-section{
    margin-top:1rem;
    padding: 3rem 1rem;
  }

  .project-item{
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .report-item{
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .stay-connected{
    padding: 2rem 1rem;
  }
  .main-button.connect a.btn{
    margin-top:10px;
  }
  footer{
    padding: 2rem 1rem;

  }

}

@media screen and (max-width: 768px){
  .project-header-row{
    display:flex;
    flex-direction: column;  
    height: 120vh;
  }
  .project-header-col{
    display:flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
  }
  .col-20{
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .btn{
    margin: 1em 0em;
  }
  .col-80{
    padding: 1rem;
    width: 100%;
    color: var(--grey);
  }
  .project-page-section{
    padding: 2rem 1rem;
    height: 100%;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero.testing{
    flex-direction: column;
    text-align:center;
    padding: 0 1rem;
  }
  .hero.testing h1{
    font-size: 2rem;
    font-weight: 100;
  }
  .cta-text.testing{

    padding:1rem 1rem;

  }
  .gl-header{
    padding:0 4rem;
    justify-content: center;
    text-align: center;
  }
  .hero{
    padding: 0rem 2rem;
    flex-direction: column;
    height: 40vh;
  }
  .hero.reports-hero{
    height: 40vh;
  }
  .hero p{
    margin: 0 0 0em 0em;
  }
  .text{
    width:100%;
    align-items: flex-start;
  }
  .description{
    margin-top:20px;
    width:100%;
  }
  .cta-text{
    padding: 0 2rem;
  }
  .project-repo{
    flex-direction: column;
    padding: 2rem 0 1rem 0;
  }
  .repo-img{
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    padding:0;
  }
  .repo-txt{
    margin-top: 20px;
    padding:0;
    width:100%;
  }
  .main-button{
    flex-direction: column;
    margin-top: -25px;
  }
  .main-button.top{
    margin-top:-25px;
  }
  a.btn.project{
    margin-top: 10px;
    margin-right:0;
  }
  .project-section.first{
    margin-top:1rem;
    padding: 3rem 1rem;
  }
  .project-section{
    margin-top:1rem;
    padding: 3rem 1rem;
  }
  .project-list{
    display: flex;
    flex-direction: column ;
    max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  }
    .project-item{
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .report-item{
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  .stay-connected{
    padding: 2rem 1rem;
  }
  .main-button.connect a.btn{
    margin-top:10px;
  }
  footer{
    padding: 2rem 3rem;
    flex-direction: column;
  }
  .logo-side{
    width:100%;
    align-items: center;
    padding-bottom: 1rem;
  }
  .address{
    width:100%;
  }
} 

.grid{
  padding: 2rem 10rem;
}
.e-team-picture {
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 30px 0;
  height: 100px;
  width: 100px;

  overflow: hidden;
  border-radius: 50%; }

  @media (min-width: 1025px) {
    .e-team-picture {
      position: absolute;
      left: 50px;

      height: 180px;
      width: 180px;
      margin: 20px 50px 30px 50px; } }

.faculty-text{
  position: relative;
  padding-left: 200px;
}
.faculty.hero{
  height: 35vh;
}
.faculty.hero.others{
  height: 15vh;
}
.faculty.hero h1{
  font-size: 4rem;
  font-weight: 200;
}
.faculty-page{
  padding: 2rem 5rem;
}
.faculty-item{
  min-height: 350px;
  max-height:2000px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    margin: 0;
    border-bottom: 1px solid var(--blue);
}

.faculty-item.last{

  border-bottom: 0px solid var(--blue);
}

.faculty-text p,h3,h5{
  margin:0;
}
.faculty-text p{
  line-height: 1.8rem;
  color: var(--dark-grey);
  font-weight: 400;
}
.faculty-text ul{
  line-height: 1.8;
  color: var(--theme-blue);
  font-weight: 300;
}
.faculty-text h3{
  font-size: 2rem;
  font-weight: 300;
  margin:0;
  color: var(--dark-grey);
}
.faculty-text h5{
  font-size: 1.1rem;
  padding: 5px 0;
  font-weight:400;
  color: var(--dark-grey);
}

.panel {
  display: flex;
  flex-direction: column;
  order: 2;
  background-color: rgba(27, 138, 207, 0);
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 0rem 0rem;
  
}
@media screen and (max-width: 768px){
  .faculty-item{
text-align: left;
justify-content: flex-start;
align-items: flex-start;
    flex-direction: column;

  }
  .faculty-text{
    position: relative;
    padding-left: 0;
  }
  .grid{
    padding: 2rem 1rem;
  }
}
.text-box .panel p{
   margin: 0 2rem;
}
.faqs .panel p{
   line-height: 1.4;
}
.faqs .panel ul{
   line-height: 2;
   font-size: 1.1rem;
   margin: 0 4rem 0 4rem;
}
.accordion{
   width: 100%;
   padding:0em;
   background-color: var(--theme-blue-10);
   display: flex;
   flex-direction: row;
   box-shadow: none;
   border:none;
   font-size: 1rem;
   margin: 1rem 0;
}
.accordion:hover{
   background-color: var(--purple);
   cursor: pointer;
   color: #ffffff;
   transition: all .6s ease;
}
.accordion:hover #bold{
   font-weight: 600;
   color: var(--theme-light-blue);
}
.accordion.active{
   background-color: var(--purple);
   cursor: pointer;
   color: #ffffff;
   transition: all .6s ease;
}
.accordion.active #bold{
   font-weight: 600;
   color: var(--theme-light-blue);
}
.accordion.faculty-more.active{
   background-color: var(--theme-blue-10);
   cursor: pointer;
   color: #ffffff;
   transition: all .6s ease;
}
.accordion.faculty-more:before {
   content: "MORE";
   background-color: var(--grey05);
   padding:0.5rem 1rem;
   color:var(--blue);
 }
 .active.faculty-more:before {
   content: "LESS";
   background-color: var(--grey05);
   padding:0.5rem 1rem;
   color:var(--blue);
 }
.accordion.faculty-more.active #bold{
   font-weight: 600;
   color: var(--blue);
}
.accordion:hover #bold{
   font-weight: 600;
   color: var(--blue);
}
.accordion.faculty-more:hover{
   background-color: #ffffff;
   cursor: pointer;
   color: #ffffff;
   transition: all .6s ease;
}
.accordion .material-icons:before {
  font-weight: 200;
  content: 'keyboard_arrow_down';
}
.active .material-icons:before { 
  font-weight: 200;
  content: 'keyboard_arrow_up';
}
